<div class="hero-content">
 
    <div class="text-section">
      <span class="platform-label">Espace Digital</span>
      
      <h1 class="hero-title">
        Bienvenue sur votre <span class="text-accent">espace digital</span>
      </h1>
      <p class="hero-description">
        Gérez votre compte en toute sécurité et profitez de nos services bancaires innovants
      </p>
      <div class="cta-buttons">
        <button class="btn btn-secondary" [routerLink]="['/creation-compte']"><i class="pi pi-user"></i> Nouveau compte</button>
        <button class="btn btn-primary" [routerLink]="['/demande-solde']"><i class="pi pi-wallet"></i> Voir son solde</button>   
      </div>
      <div class="indication-section grid items-center ">


        <div class="text-center md:col-3 fade-in">
          <div class="feature-icon bg-primary-light">
            <i class="pi pi-shield text-white"></i>
          </div>
          <h3 class="text-lg font-semibold mb-2 text-primary-light ">Sécurité</h3>
        </div>

        
        <div class="text-center md:col-3 fade-in">
          <div class="feature-icon bg-secondary">
            <i class="pi pi-bolt text-white"></i>
          </div>
          <h3 class="text-lg font-semibold mb-2 text-secondary ">Rapidité</h3>
        </div>


        <div class="text-center md:col-3 fade-in">
          <div class="feature-icon bg-accent">
            <i class="pi pi-globe text-white"></i>
          </div>
          <h3 class="text-md font-semibold mb-2 text-accent  ">Digital</h3> 
        </div>


      </div>
      
    </div>
    <div class="image-section">
      <img
        src="YENI-ALPHA.png"
        alt="Employee Image"
        class="employee-img"
      />
      <!-- Payroll Summary Card -->
      <div class="payroll-card">
        <h4>Yéni</h4>
        <h3>Votre assistante </h3>
        <p>Scanner le Qr-Code</p>
        <div class="chart">
          <img
          src="qrcode.png"
          alt="Qr-Code"
          class="qr-img"
        />
          </div>
      </div>
    </div>
  </div>
 