<div class="card p-4">             
    <p-stepper [(activeStep)]="active" styleClass="stepper-custom">   
    <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <p-button icon="pi pi-phone" [rounded]="true" class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
            </p-button>
        </ng-template>
       <ng-template pTemplate="content" let-nextCallback="nextCallback" >
            <div class="">
                <div class="mt-3 mb-3 text-xl font-semibold stepper-text-titre">
                    <i class="pi pi-phone stepper-text-titre-icon"></i>   Numero de telephone
                </div>
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="firstname2">Entrer votre numero de telephone</label>
                        <input id="firstname2" type="text" [(ngModel)]="telephone" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>    
                </div>
                
            </div>

            <div class="flex pt-1 justify-content-end">
                <p-button (onClick)="nextCallback.emit()" label="Suivant" icon="pi pi-arrow-right" iconPos="right" class="p-button-rounded"></p-button>
            </div>
        </ng-template>
    </p-stepperPanel> 


    <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <p-button icon="pi pi-code" [rounded]="true" class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()" [ngClass]="{
                'bg-primary-button border-primary': index <= active,
                'surface-border': index > active
            }">
            </p-button>
        </ng-template>
       <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback">
            <div class="gap-4">
                <div class="mt-3 mb-3 text-2xl font-semibold stepper-text-titre">
                    <i class="pi pi-code stepper-text-titre-icon"></i> Code de verification
                </div>
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="firstname2">Entrer le code de verification</label>
                        <input id="firstname2" type="text" [(ngModel)]="codeOtp" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>

                </div>
                
            </div>

            <div class="flex pt-4 gap-2 justify-content-end align-items-center">
                <app-bouton-retour (prevCallback)="prevCallback.emit()"></app-bouton-retour>
                <p-button (onClick)="nextCallback.emit()" label="Suivant" icon="pi pi-arrow-right" iconPos="right" class="p-button-rounded p-button-success"></p-button>
            </div>
        </ng-template>
    </p-stepperPanel> 

    <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <p-button icon="pi pi-wallet" [rounded]="true" class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()" [ngClass]="{
                'bg-primary-button': index <= active,
            }">
            </p-button>
        </ng-template>

        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback">
            <div class="flex flex-column gap-4">
                <div class="mt-3 mb-3 text-2xl font-semibold stepper-text-titre"><i class="pi pi-wallet stepper-text-titre-icon"></i> Informations du compte</div>
                <div class="text-sm text-primary-button font-semibold">Solde demandé : {{compte.solde}} Fcfa</div>
                <div class="card grid justify-content-between">
                    <div class="md:col-5">
                        <div class="text-md font-semibold">Dernières transactions</div>
                        <div class="text-sm">Dépôt : </div>
                        <div class="text-sm"> 22 MAI 2024</div>
                   
                    </div>
                    <div class="md:col-5">
                        <div class="text-md font-semibold">Statut du compte</div>
                        <div class="text-sm">Profession : </div>
                        
                    </div>
                </div>
            </div>

            <div class="flex pt-4 gap-2 justify-content-end align-items-center  ">
                <app-bouton-retour (prevCallback)="prevCallback.emit()"></app-bouton-retour>
                <p-button (onClick)="nextCallback.emit()" label="Valider" icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-success"></p-button>
            </div>
        </ng-template>
    </p-stepperPanel>

</p-stepper>
</div>